<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fkit.dao.EmployeeDao">
	<resultMap id="BaseResultMap" type="Employee">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="CARD_ID" property="cardId" jdbcType="VARCHAR" />
		<result column="NAME" property="name" jdbcType="VARCHAR" />
		<result column="POST_CODE" property="postCode" jdbcType="VARCHAR" />
		<result column="QQ_NUM" property="qqNum" jdbcType="VARCHAR" />
		<result column="BIRTHDAY" property="birthday" jdbcType="TIMESTAMP" />
		<result column="CREATE_DATE" property="createDate" jdbcType="TIMESTAMP" />
		<association property="dept" column="DEPT_ID" 
		    select="org.fkit.dao.DeptDao.selectById" fetchType="eager" javaType="Dept"
		/>
		<association property="job" column="JOB_ID" 
		    select="org.fkit.dao.JobDao.selectById" fetchType="eager" javaType="Job"
		/>
		</resultMap>
	<sql id="Base_Column_List">
		ID, CARD_ID,POST_CODE,QQ_NUM,BIRTHDAY,POST_CODE,CREATE_DATE
    </sql>
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from employee_inf where ID = #{id}
	</select>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from employee_inf where ID = #{id}
	</delete>
	
	<update id="update" parameterType="Employee">
		update employee_inf
		<set>
			<if test="name != null">
				NAME = #{name,jdbcType=VARCHAR},
			</if>
			<if test="cardId != null">
				CARD_ID = #{cardId,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				ADDRESS = #{address,jdbcType=VARCHAR},
			</if>
			<if test="postCode != null">
				POST_CODE = #{postCode,jdbcType=VARCHAR},
			</if>
			<if test="tel != null">
				TEL = #{tel,jdbcType=VARCHAR},
			</if>
			<if test="phone != null">
				PHONE = #{phone,jdbcType=VARCHAR},
			</if>
			<if test="qqNum != null">
				QQ_NUM = #{qqNum,jdbcType=VARCHAR},
			</if>
			<if test="email != null">
				EMAIL = #{email,jdbcType=VARCHAR},
			</if>
			<if test="sex != null">
				SEX = #{sex,jdbcType=VARCHAR},
			</if>
			<if test="party != null">
				PARTY = #{party,jdbcType=VARCHAR},
			</if>
			<if test="birthday != null">
				BIRTHDAY = #{birthday,jdbcType=TIMESTAMP},
			</if>
			<if test="race != null">
				RACE = #{race,jdbcType=VARCHAR},
			</if>
			<if test="education != null">
				EDUCATION = #{education,jdbcType=VARCHAR},
			</if>
			<if test="speciality != null">
				SPECIALITY = #{speciality,jdbcType=VARCHAR},
			</if>
			<if test="hobby != null">
				HOBBY = #{hobby,jdbcType=VARCHAR},
			</if>
			<if test="remark != null">
				REMARK = #{remark,jdbcType=VARCHAR},
			</if>
			<if test="createDate != null">
				CREATE_DATE = #{createDate,jdbcType=TIMESTAMP},
			</if>
			<if test="dept != null">
				DEPT_ID = #{dept.id,jdbcType=BIGINT},
			</if>
			<if test="job != null">
				JOB_ID = #{job.id,jdbcType=BIGINT},
			</if>
		</set>
		where id=#{id}
	</update>
	<select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
		select * from employee_inf
		<where>
			<if test="employee !=null">
		        <if test="employee.dept != null and employee.dept.id !=null and employee.dept.id!=0">
					DEPT_ID = #{employee.dept.id}
				</if>
				<if test="employee.job != null and employee.job.id !=null and employee.job.id!=0">
                 and   JOB_ID= #{employee.job.id}
				</if>
					<if test="employee.name != null and employee.name !=''">
				and	name like concat('%',#{employee.name},'%')
				</if>
				<if test="employee.phone != null and employee.phone !=''">
				and	phone like concat('%',#{employee.phone},'%')
				</if>
				<if test="employee.cardId != null and employee.cardId !=''">
				and	CARD_ID like concat('%',#{employee.cardId},'%')
				</if>
				<if test="employee.sex != null and employee.sex !=0">
				and	sex = #{employee.sex}
				</if>
			</if>
		</where>
		<if test="pageModel !=null">
				limit #{pageModel.firstLimitParam} ,#{pageModel.pageSize}
			</if>
	</select>
	
	<select id="count" parameterType="map" resultType="Integer">
		select count(*) from employee_inf
		<where>
			<if test="employee !=null">
				<if test="employee.dept != null and employee.dept.id !=null and employee.dept.id!=0">
					DEPT_ID = #{employee.dept.id}
				</if>
				<if test="employee.job != null and employee.job.id !=null and employee.job.id!=0">
                 and   JOB_ID= #{employee.job.id}
				</if>
				<if test="employee.name != null and employee.name !=''">
				and	name like concat('%',#{employee.name},'%')
				</if>
				<if test="employee.phone != null and employee.phone !=''">
				and	phone like concat('%',#{employee.phone},'%')
				</if>
				<if test="employee.cardId != null and employee.cardId !=''">
				and	CARD_ID like concat('%',#{employee.cardId},'%')
				</if>
				<if test="employee.sex != null and employee.sex !=0">
				and	sex = #{employee.sex}
				</if>
    		</if>
		</where>
	</select>
	
	<insert id="save" parameterType="Employee">
		insert into employee_inf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="name != null">NAME ,</if>
			<if test="cardId != null">CARD_ID ,	</if>
			<if test="address != null">	ADDRESS ,</if>
			<if test="postCode != null">POST_CODE ,</if>
			<if test="tel != null">	TEL ,</if>
			<if test="phone != null">PHONE ,</if>
			<if test="qqNum != null">QQ_NUM ,</if>
			<if test="email != null">EMAIL ,</if>
			<if test="sex != null">	SEX ,</if>
			<if test="party != null">PARTY ,</if>
			<if test="birthday != null">BIRTHDAY ,</if>
			<if test="race != null">RACE ,	</if>
			<if test="education != null">EDUCATION ,</if>
			<if test="speciality != null">SPECIALITY ,</if>
			<if test="hobby != null">HOBBY ,</if>
			<if test="remark != null">	REMARK ,</if>
			<if test="createDate != null">CREATE_DATE ,</if>
			<if test="dept != null">DEPT_ID ,</if>
			<if test="job != null">	JOB_ID ,</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="name != null">#{name ,jdbcType=VARCHAR} ,</if>
			<if test="cardId != null">#{ cardId,jdbcType=VARCHAR} ,</if>
			<if test="address != null">	#{ address ,jdbcType=VARCHAR},</if>
			<if test="postCode != null">#{ postCode ,jdbcType=VARCHAR},</if>
			<if test="tel != null">	#{ tel ,jdbcType=VARCHAR} ,</if>
			<if test="phone != null">#{ phone ,jdbcType=VARCHAR},</if>
			<if test="qqNum != null">#{ qqNum ,jdbcType=VARCHAR} ,	</if>
			<if test="email != null">#{ email ,jdbcType=VARCHAR},</if>
			<if test="sex != null">#{ sex,jdbcType=VARCHAR} ,</if>
			<if test="party != null">#{party ,jdbcType=VARCHAR} ,</if>
			<if test="birthday != null">#{birthday,jdbcType=TIMESTAMP} ,</if>
			<if test="race != null">#{race ,jdbcType=VARCHAR},	</if>
			<if test="education != null">#{education ,jdbcType=VARCHAR},</if>
			<if test="speciality != null">#{speciality,jdbcType=VARCHAR },</if>
			<if test="hobby != null">#{hobby,jdbcType=VARCHAR} ,</if>
			<if test="remark != null">#{remark ,jdbcType=VARCHAR},</if>
			<if test="createDate != null">#{createDate,jdbcType=TIMESTAMP} ,</if>
			<if test="dept != null">#{dept.id,jdbcType=BIGINT} ,</if>
			<if test="job != null">#{job.id,jdbcType=BIGINT} ,</if>
		</trim>
	</insert>
</mapper>
