<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="org.fkit.dao.NoticeDao">
	<resultMap id="BaseResultMap" type="Notice">
		<id column="ID" property="id" jdbcType="BIGINT" />
		<result column="TITLE" property="title" jdbcType="VARCHAR" />
		<result column="CONTENT" property="content" jdbcType="VARCHAR" />
		<result column="CREATE_DATE" property="createDate" jdbcType="DATE" />
		<association property="user" column="USER_ID"
		 select="org.fkit.dao.UserDao.selectById" fetchType="eager" javaType="User"
		/>
	</resultMap>
	<sql id="Base_Column_List">
		ID, TITLE,CONTENT,CREATE_DATE,USER_ID
    </sql>
    <select id="selectAllNotice" resultMap="BaseResultMap">
		select * from notice_inf 
	</select>
    
	<select id="selectById" parameterType="java.lang.Integer"
		resultMap="BaseResultMap">
		select * from notice_inf where ID = #{id}
	</select>
	<delete id="deleteById" parameterType="java.lang.Integer">
		delete from notice_inf where ID = #{id}
	</delete>
	
	<update id="update" parameterType="Notice">
		update notice_inf
		<set>
			<if test="title != null">
				TITLE = #{title,jdbcType=VARCHAR},
			</if>
			<if test="content != null">
				CONTENT = #{content,jdbcType=VARCHAR},
			</if>
			<if test="user != null">
				USER_ID = #{user.id,jdbcType=VARCHAR},
			</if>
		</set>
		where id=#{id}
	</update>
	<select id="selectByPage" parameterType="map" resultMap="BaseResultMap">
		select * from notice_inf
		<where>
			<if test="notice !=null">
				<if test="notice.title != null and notice.title !=''">
					TITLE like concat('%',#{notice.title},'%')
				</if>
				<if test="notice.content != null and notice.content !=''">
				 and CONTENT like concat('%',#{notice.content},'%')
				</if>
			</if>
		</where>
		<if test="pageModel !=null">
				limit #{pageModel.firstLimitParam} ,#{pageModel.pageSize}
			</if>
	</select>
	<select id="count" parameterType="map" resultType="Integer">
		select count(*) from notice_inf
		<where>
			<if test="notice !=null">
				<if test="notice.title != null and notice.title !=''">
					TITLE like concat('%',#{notice.title},'%')
				</if>
				<if test="notice.content != null and notice.content !=''">
				and	CONTENT like concat('%',#{notice.content},'%')
				</if>
			</if>
		</where>
	</select>
	<insert id="save" parameterType="notice">
		insert into notice_inf
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="title != null">
				TITLE,
			</if>
			<if test="content != null">
				CONTENT,
			</if>
			<if test="user.id != null">
				USER_ID,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="title != null">
			  #{title},
			</if>
			<if test="content != null">
			  #{content},
			</if>
			<if test="user.id != null">
			  #{user.id},
			</if>
		</trim>
	</insert>
</mapper>
